.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .custom-arrow-prev {
    left: 10px;
  }
  
  .custom-arrow-next {
    right: 10px;
  }
  
  .custom-arrow svg {
    width: 20px;
    height: 20px;
  }