.categoryBtn{
    padding: 0.5em;
    display: flex;
    justify-content: center; 
    align-items: center;  
    overflow: visible;
}


.categoryBtn a {
    width: 100%;
    padding: 1.5em 1em;
    text-align: center;
    color: #333;
    text-decoration: none; 
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0; 
    border-radius: 16px; 
    transition: all 0.3s ease; 
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
    
}


.categoryBtn a:hover {
    background-color: #fff;
    border-color: #d4d4d4; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: #000;
}

.categoryBtn a:active {
    background-color: #f1f1f1;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}
  


.infoSummary .categoryBtn{
    font-size: 0.85em;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.infoSummary .categoryBtn a {
    width: 100%;
    padding: 0.4em 0.6em;
    text-align: center;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 16px; 
    transition: all 0.3s ease; 
    font-weight:2100;
    border: 1px solid #525252;
    white-space: nowrap;    
}

.infoSummary .categoryBtn a:hover{
    background-color: #4f4f4f;
    border-color: #525252; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: white;
}


@media (max-width: 768px) {

    .categoryBtn a {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1em 0.2em; 
        
    }
}