.detailPageContainer{
    display:grid;
    grid-template-rows: 4em 1fr;
    padding: 0 1em;
    background-color: #0f0f0f;
    color: rgb(239, 239, 239);
    height: 100%;
    overflow: hidden;
}



.detailPageContent{
    grid-row: 2/3;

    display:flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.informationContainer .pageTitle{
  display: flex;
  flex-direction: row;
 
  align-items: center;
}

.informationContainer{
  display: flex;
  flex-direction: column;
  max-width: 35em;
  min-width: 25em;
  position: relative;
  z-index: 2;
  padding: 2em 0;
}


.informationContainer:after {
  background: linear-gradient(
    90deg, 
    #0f0f0f 8%,
    hsla(0, 0%, 8%, 0.97) 25%, 
    hsla(0, 0%, 8%, 0.95) 35%,
    hsla(0, 0%, 8%, .94) 40%, 
    hsla(0, 0%, 8%, .92) 45%, 
    hsla(0, 0%, 8%, .9) 50%, 
    hsla(0, 0%, 8%, .87) 55%,
    hsla(0, 0%, 8%, .82) 60%,
    hsla(0, 0%, 8%, .75) 65%,
    hsla(0, 0%, 8%, .63) 70%,
    hsla(0, 0%, 8%, .45) 75%,
    hsla(0, 0%, 8%, .27) 80%,
    hsla(0, 0%, 8%, .15) 85%, 
    hsla(0, 0%, 8%, .08) 90%, 
    hsla(0, 0%, 8%, .03) 95%,
    hsla(0, 0%, 8%, 0)
  );
  
  bottom: 0;
  content: "";
  left: -5%;
  top: 0;
  position: absolute;
  right: -30em;
  z-index: -1;
}


.detailPageImageContainer{
  display: flex;
  flex-direction: row;
  height: 0;
  padding-bottom: 55%;
  z-index: 1;
}

.detailPageImageContainer img{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  right: -10%;
  
 
}

.detailPageContent .infoSummary{
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.detailPageContent .detailPageOverview{
  margin-left: 2em;
}

.movieDetailGenres{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.infoSummary .infoRatingYear {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
}

@media (max-width: 1024px) {
 
}


@media (max-width: 1024px){

  .detailPageContainer{
    padding: 0;
    overflow-y: scroll;
  }

  .detailPageContent{
    flex-direction: column-reverse;
    width: 100vw;
  }

  .informationContainer {
    max-width: 100%;
    min-width: 90%;
    padding: 0 1em 50% 1em;
  }

  .detailPageContent .detailPageOverview {
    width: 90%;
    padding: 1em 0.5em;
    margin: 0;
  }
  
  .detailPageImageContainer img{
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;

  }


.informationContainer:after {
    background: linear-gradient(
      0deg, 
      #0f0f0f  8%,
      hsla(0, 0%, 8%, 0.97) 25%, 
      hsla(0, 0%, 8%, 0.95) 35%,
      hsla(0, 0%, 8%, .94) 40%, 
      hsla(0, 0%, 8%, .92) 45%, 
      hsla(0, 0%, 8%, .9) 50%, 
      hsla(0, 0%, 8%, .87) 55%,
      hsla(0, 0%, 8%, .82) 60%,
      hsla(0, 0%, 8%, .75) 65%,
      hsla(0, 0%, 8%, .63) 70%,
      hsla(0, 0%, 8%, .45) 75%,
      hsla(0, 0%, 8%, .27) 80%,
      hsla(0, 0%, 8%, .15) 85%, 
      hsla(0, 0%, 8%, .08) 90%, 
      hsla(0, 0%, 8%, .03) 95%,
      hsla(0, 0%, 8%, 0)
    );
    content: "";
    left: 0;
    top: -60%;
    width:100vw;
    z-index: -1;
  }

  .detailPageContent .infoSummary{
    margin: 0;
    flex-direction: column;
  }

  

  .movieDetailGenres{
    font-size: 0.9em;
    align-self: start;
  }
}