.logoContainer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:rgb(0, 4, 222);
    font-size: 1em;
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-gap: 0.5em;
    align-items: center;
    margin: 0 1em;
}

.filmIcon{
    width: 1.5em;
    height: 1.5em;
}

.logoContainer p{
    grid-column: 2/2;
}
