.homepageContainer{
  display:grid;
  grid-template-rows: 4em 30em 10em 1fr;
  padding: 0 1em;
  overflow: hidden;
}


.categoriesContainer{
  margin: 2em 0;
  grid-row: 3/4;
  width: 98vw;

}


.listsContainer{
  grid-row: 4/5;
  margin:2em 0;
}


@media (max-width:1023px){

  
  .categoriesContainer{
    width: 90vw;
  }

  
}