.listItemContainer{
    margin:1em;
    display: block;
    padding: 1.5em 2em;
    text-align: center;
    color: #333; /* Темный цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background-color: #f9f9f9; /* Светлый фон */
    border: 2px solid #e0e0e0; 
    border-radius: 1em; /* Соответствует границам родителя */
    transition: all 0.3s ease; /* Плавные переходы при наведении */
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-wrap: pretty;
}

.listItemContainer:hover{
    background-color: #fff; /* Более светлый фон при наведении */
    border-color: #d4d4d4; /* Изменение цвета границы при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Увеличенная тень при наведении */
    color: #000; /* Увеличение контраста текста при наведении */
}

.listItemContainer:active{
    background-color: #f1f1f1; /* Легкое затемнение при нажатии */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Меньшая тень при нажатии */
    transform: translateY(2px); /* Легкий сдвиг вниз при нажатии */
}

.listItemContainer img{
    max-height: 20em;
}





/*
.listBannerContainer img{
    grid-row: 1/4;
    grid-column: 2/4;
    
}
    */