.ratingContainer{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.255);
    
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 1.9em;
}

.ratingIcon{
    font-size: 0.8em;
    margin-right: 0.5em;
}

.ratingContainer p{
    margin: 0;
}